<div id="background-image"></div>
<header>
  <div class="container">
    <div id="social-handlers" class="row">
      <div class="col text-center text-md-end">
        <span class="me-2"><p-button icon="pi pi-github" label="Github" [link]="true"
            (onClick)="socialOpen('github')" /></span>
        <span class="me-2"><p-button icon="pi pi-linkedin" label="Linkedin" [link]="true"
            (onClick)="socialOpen('linkedin')" /></span>
        <span class="me-2"><p-button icon="pi pi-twitter" label="Twitter" [link]="true"
            (onClick)="socialOpen('twitter')" /></span>
      </div>
    </div>
    <div id="header-title" class="row">
      <div class="col">
        <h1>{{title.split(" ")[0]}}</h1>
      </div>
      <div class="col">
        <div id="profile-img" class="old-paper">
          <img class="original-image black-and-white" src="profile.jpg" />
        </div>
      </div>
      <div class="col">
        <h1>{{title.split(" ")[1]}}</h1>
      </div>
    </div>
    <div id="header-sub-title" class="row">
      <div class="col my-2">
        I'm a <ngx-typed-writer [strings]="subHeaderArray" [cursorChar]="'_'" [showCursor]="true" [backSpeed]="30"
          [typeSpeed]="30">
        </ngx-typed-writer>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div id="about-me" class="row section-row py-2">
      <div class="col cover-col">
        <div class="border-img">
          <img class="original-image black-and-white" src="cover-img.jpg" />
        </div>
        <div class="cover-text p-2">
          <label class="text">About Me</label>
          <p [innerHTML]="data.aboutme">

          </p>
        </div>
        <span style="float: left;"><p-button icon="pi pi-download" label="Download CV" [outlined]="true"
            (onClick)="socialOpen('cv')" /></span>
      </div>
    </div>
    <div id="services" class="row section-row py-2">
      <div class="col">
        <div class="ad-box">
          <p-carousel [value]="services" [numVisible]="3" [numScroll]="1" [circular]="true" [showIndicators]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
              <div class="m-2 p-3 box">
                <label class="text">{{item.label}}+ </label>
                <var>{{item.text}}</var>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
    <div id="skills" class="row section-row py-2">
      <h1 class="pt-3 text-center fst-italic">Skills</h1>
      <div class="col-12 col-md-4 my-1" *ngFor="let item of data.skills">
        <div class="ad-box p-3 h-100">
          <label class="text">
            {{item.header}}
          </label>
          <p>
            <i [class]="item.icon"></i>
            {{item.value}}
          </p>
        </div>
      </div>
    </div>
    <div id="latest_projects" class="row section-row py-2">
      <h1 class="pt-3 text-center fst-italic">Latest Projects</h1>
      <div class="col">
        <div class="p-box">
          <p-carousel [value]="latestProjects" [numVisible]="3" [numScroll]="1" [circular]="true"
            [showIndicators]="false" [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
              <div class="p-box p-2 d-flex flex-column h-100 align-content-end flex-wrap">
                <var class="mb-1">{{ item.duration }}</var>
                <div class=" flex-grow-1 ">
                  <label class="text">{{item.title}}</label>
                  <p class="truncate-text">{{item.description}}</p>
                </div>
                <div class="d-flex flex-row align-items-center w-100">
                  <p-button class="flex-grow-1 text-start" label="Visit" [outlined]="true"
                    (onClick)="openLink(item.Link)" *ngIf="validURL(item.Link); else notLink" />
                  <ng-template #notLink>
                    <strong class="flex-grow-1 text-start">{{ item.Link }}</strong>
                  </ng-template>
                  <p-button class="text-end" label="Show More" [outlined]="true" (onClick)="openProject(item.id)" />
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
    <div id="previous_projects" class="row section-row py-2">
      <h1 class="pt-3 text-center fst-italic">Previous Projects</h1>
      <div class="col">
        <div class="p-box">
          <p-carousel [value]="oldProjects" [numVisible]="3" [numScroll]="1" [circular]="true" [showIndicators]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
              <div class="p-box p-2 d-flex flex-column h-100 align-content-end flex-wrap">
                <var class="mb-1">{{ item.duration }}</var>
                <div class=" flex-grow-1 ">
                  <label class="text">{{item.title}}</label>
                  <p class="truncate-text">{{item.description}}</p>
                </div>
                <div class="d-flex flex-row align-items-center w-100">
                  <p-button class="flex-grow-1 text-start" label="Visit" [outlined]="true"
                    (onClick)="openLink(item.Link)" *ngIf="validURL(item.Link); else notLink" />
                  <ng-template #notLink>
                    <strong class="flex-grow-1 text-start">{{ item.Link }}</strong>
                  </ng-template>
                  <p-button class="text-end" label="Show More" [outlined]="true" (onClick)="openProject(item.id)" />
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
    <div id="open_projects" class="row section-row py-2">
      <h1 class="pt-3 text-center fst-italic">Open Source Projects</h1>
      <div class="col">
        <div class="p-box">
          <p-carousel [value]="openProjects" [numVisible]="3" [numScroll]="1" [circular]="true" [showIndicators]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
              <div class="p-box p-2 d-flex flex-column h-100 align-content-end flex-wrap">
                <var class="mb-1">{{ item.duration }}</var>
                <div class=" flex-grow-1 ">
                  <label class="text">{{item.title}}</label>
                  <p class="truncate-text">{{item.description}}</p>
                </div>
                <div class="d-flex flex-row align-items-center w-100">
                  <p-button class="flex-grow-1 text-start" label="Visit" [outlined]="true"
                    (onClick)="openLink(item.Link)" *ngIf="validURL(item.Link); else notLink" />
                  <ng-template #notLink>
                    <strong class="flex-grow-1 text-start">{{ item.Link }}</strong>
                  </ng-template>
                  <p-button class="text-end" label="Show More" [outlined]="true" (onClick)="openProject(item.id)" />
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
    <div id="collage_projects" class="row section-row py-2">
      <h1 class="pt-3 text-center fst-italic">Collage Projects</h1>
      <div class="col">
        <div class="p-box">
          <p-carousel [value]="collageProjects" [numVisible]="2" [numScroll]="1" [circular]="true"
            [showIndicators]="false" [responsiveOptions]="responsiveCollageOptions">
            <ng-template let-item pTemplate="item">
              <div class="p-box p-2 d-flex flex-column h-100 align-content-end flex-wrap">
                <var class="mb-1">{{ item.duration }}</var>
                <div class=" flex-grow-1 ">
                  <label class="text">{{item.title}}</label>
                  <p class="truncate-text">{{item.description}}</p>
                </div>
                <div class="d-flex flex-row align-items-center w-100">
                  <p-button class="flex-grow-1 text-start" label="Visit" [outlined]="true"
                    (onClick)="openLink(item.Link)" *ngIf="validURL(item.Link); else notLink" />
                  <ng-template #notLink>
                    <strong class="flex-grow-1 text-start">{{ item.Link }}</strong>
                  </ng-template>
                  <p-button class="text-end" label="Show More" [outlined]="true" (onClick)="openProject(item.id)" />
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
    <div id="experience_education" class="row section-row py-2 justify-content-center">
      <div class="col-12 col-lg-5 p-2 m-1 ad-box">
        <h1 class="pt-3 text-center fst-italic">Experience</h1>
        <p-timeline [value]="experience" align="alternate">
          <ng-template pTemplate="content" let-experience>
            <var class="d-block">{{ experience.duration }}</var>
            <strong class="d-block">{{ experience.name }}</strong>
            {{ experience.role }}
          </ng-template>
          <ng-template pTemplate="opposite" let-event>
            <span>&nbsp;</span>
          </ng-template>
        </p-timeline>
      </div>
      <div class="col-12 col-lg-5 p-2 m-1 ad-box">
        <h1 class="pt-3 text-center fst-italic">Education</h1>
        <p-timeline [value]="education" align="alternate">
          <ng-template pTemplate="content" let-education>
            <var class="d-block">{{ education.year }}</var>
            <strong class="d-block">{{ education.degree }}</strong>
            <span class="d-block">{{ education.name }}</span>
            <span class="d-block">{{ education.university }}</span>
            <strong class="d-block">Percentage {{ education.marks }}%</strong>
          </ng-template>
          <ng-template pTemplate="opposite" let-event>
            <span>&nbsp;</span>
          </ng-template>
        </p-timeline>
      </div>
    </div>
    <div id="achievements" class="row section-row py-2">
      <h1 class="pt-3 text-center fst-italic">Achievements</h1>
      <div class="col-12">
        <span class="ad-box d-block p-2 mb-2" *ngFor="let item of data.achievements">
          <p class="p-0 m-0">{{item}}</p>
        </span>
      </div>
    </div>
    <div id="contact" class="row section-row py-2">
      <h1 class="pt-3 text-center fst-italic">Get In Touch</h1>
      <div class="col-12 col-md-4 my-1" *ngFor="let item of data.contact">
        <div class="ad-box p-3 my-1 h-100">
          <div class="row">
            <div class="col-4 col-md-12">
              <p>
                <i [class]="item.icon"></i>
              </p>
            </div>
            <div class="col">
              <h2>{{item.title}}</h2>
              <p-button [label]="item.value" *ngIf="item.href" [link]="true" (onClick)="socialOpen('email')" />
              <h3 *ngIf="!item.href">{{ item.value }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact-form-map" class="row section-row py-2 justify-content-center">
      <div class="col-12 col-md-5 p-2 m-1 ad-box">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77890.45069442966!2d73.07315743529878!3d18.98903315395878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e83e1f23f23d%3A0xe3a106c431e3fd0a!2sPanvel%2C%20Navi%20Mumbai%2C%20Maharashtra!5e1!3m2!1sen!2sin!4v1725999397668!5m2!1sen!2sin"
          width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-12 col-md-5 p-2 m-1 ad-box">
        <form class="row g-3" [action]="data.contact[1].href" method="post" enctype="text/plain">
          <p-floatLabel class="mt-4">
            <input pInputText id="name" name="name" class="w-100" type="text" required />
            <label for="name">Full Name</label>
          </p-floatLabel>
          <p-floatLabel class="mt-4">
            <input pInputText id="email" name="email" class="w-100" type="email" required />
            <label for="email">Email Address</label>
          </p-floatLabel>
          <p-floatLabel class="mt-4">
            <input pInputText id="subject" name="subject" class="w-100" type="text" required />
            <label for="subject">Subject</label>
          </p-floatLabel>
          <p-floatLabel class="mt-4">
            <textarea id="message" name="message" class="w-100" pInputTextarea required></textarea>
            <label for="message">Message</label>
          </p-floatLabel>
          <p-button label="Send Message" type="submit" [outlined]="true" />
        </form>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container p-3">
    <div class="row">
      <div class="col-6"><var>Design by <strong class="d-block">Suyog Jadhav</strong></var></div>
      <div class="col-6 text-end">
        <p-button label="Icons by Icons8" [link]="true" (onClick)="socialOpen('icons8')" />
      </div>
    </div>
  </div>
</footer>

<p-dialog [header]="" [modal]="true" [(visible)]="projectDialogVisible" [style]="{ width: '50rem' }"
  [dismissableMask]="true">
  <ng-template pTemplate="headless">
    <div id="background-image"></div>
    <p-button styleClass="close-btn" icon="pi pi-times" [rounded]="true" [text]="true"
      (onClick)="projectDialogVisible = false" />
    <var>{{selectedProject?.duration }}</var>
    <h2>{{selectedProject?.title}}</h2>
    <p-scrollPanel [style]="{ width: '100%', height: '70vh' }">
      <div class="row">
        <div class="col-12">
          <strong>Description:</strong>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of selectedProject?.description">{{item}}</li>
          </ul>
        </div>
        <div class="col-12" *ngIf="selectedProject?.responsibility">
          <strong>Responsibility:</strong>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of selectedProject?.responsibility">{{item}}</li>
          </ul>
        </div>
        <div class="col-12">
          <strong>Technologies:</strong>
          <div class="row">
            <div class="col-6 p-3 text-center d-flex align-items-center justify-content-center"
              *ngFor="let tech of selectedProject?.tech">
              <img class="mx-1" data-bs-toggle="tooltip" title="{{ tech.title }}" alt="{{ tech.title }}"
                [src]="tech.icon" />
              <label style="font-size: 0.8rem">{{ tech.title }}</label>
            </div>
          </div>
        </div>
      </div>
    </p-scrollPanel>
  </ng-template>
</p-dialog>